{% extends "base.html" %}
{% block content %}
<h1>Featured Books</h1>
<div class="row">
    {% for book in books %}
    <div class="col-md-4">
        <div class="card mb-4">
            <img src="{{ url_for('static', filename='images/' + book.image) }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ book.title }}</h5>
                <p class="card-text">by {{ book.author }}</p>
                <p>₹{{ book.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
